html, body, #container {
      height: 100%;
}
* {
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
}

#headerHolder {

    width:100%;
    height:4em;
    line-height:4em;
    padding-left:5px;
    
}

#menuHolder {
    
    background:#E9E9E7;
	opacity:0.9;
	margin-top:0px;
	color:white;
	font-size:1em;
    
    
}
#menuHolder a {

color: #0099FF;
text-decoration: none;
font-weight:bold;
display:inline-block;
padding:20px;

}
#leftSidebarHolder {
    width:10%;
    float:left;
    background:#ECECE3;
    padding:5px;
    height:100%;
}
#mainContentHolder {

    width:70%;
    float:left;
    padding:50px;
    border:3px solid #ECECE3;
    border-bottom:none;

}
#rightSidebarHolder {

    width:10%;
    float:left;
    margin-left:3px;
    padding:5px;

}
#footerHolder {

    width:100%;
    height:3em;
    background:gray;
    clear:both;

}
.sidebarLine {
    list-style-type:none;
    margin-top:10px;
    padding:0;
    width:100%;
}
.sidebarLine li {

    font-size:large;
    text-align:center;
    height:2em;
    line-height:2em;
    width:100%;
    
}

#slider1 {
	height:3px; 
	background:#0099FF;
	margin-left:30px;
}
#slider3 {
	height:2px; 
	background:#0099FF;
	margin-left:5px;
}
#slider2 {
	height:1px; 
	background:#0099FF;
	margin-left:50px;
}


