@model IEnumerable<RegistarApp.Models.Bike>

@{
    ViewBag.Title = "Bike";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<h2>Bikes</h2>
<ul style="list-style-type:none;">
    @foreach (RegistarApp.Models.Bike b in Model)
    {
      <li>
        @String.Format("Name: {0}, Type: {1}, Rating: {2}",b.Name,b.Type,b.Rating)
      </li>
    }
</ul>