
<div>
    <p>
        <ul class="sidebarLine">
            <li>
                 SidebarItem 1                 
            </li>
            <li>
                SidebarItem 2
            </li>
            <li>
                SidebarItem 3
            </li>
            <li>
                SidebarItem 4
            </li>
            <li>
                SidebarItem 5
            </li>
        </ul>
    </p> 
</div>
