html, body, #container {
      height: 100%;
}
* {
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
}

#headerHolder {

    width:100%;
    height:4em;
    line-height:4em;
    padding-left:5px;
    
}

#menuHolder {

    width:100%;
    height:2em;
    background:grey;
    line-height:2em;    
}
#menuHolder a {
    text-decoration:none;
    color:white;
    
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
}
#leftSidebarHolder {
    width:15%;
    float:left;
    background:#ECECE3;
    padding:5px;
    height:100%;
}
#mainContentHolder {

    width:70%;
    float:left;
    padding:10px;

}
#rightSidebarHolder {

    width:10%;
    float:left;
    margin-left:3px;
    padding:5px;

}
#footerHolder {

    width:100%;
    height:3em;
    background:gray;
    clear:both;

}
.sidebarLine {
    list-style-type:none;
    margin-top:10px;
    padding:0;
    width:100%;
}
.sidebarLine li {

    font-size:large;
    text-align:center;
    height:2em;
    line-height:2em;
    width:100%;
    
}




