
      <a href="#" class="title">Home</a><!--
   --><a href="#" class="title">Add your bike</a><!--
    --><a href="#" class="title">Report lost bike</a><!--
    --><a href="#" class="title">Sell bike</a><!--
    --><a href="#" class="title">About us</a><!--
    --><a href="#" class="title">Contact</a>
    

